body {
  background-color: #eee;
  color: #222;
  font-family: sans-serif;
  font-size: 1.2rem;
  margin: 0; }
  body a {
    color: white; }

header {
  background-color: black;
  padding: .5rem; }
  header h1 {
    color: #B2C2B2;
    text-align: center; }
  header h2 {
    color: #ddd;
    text-align: center; }

.mainContent {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: stretch;
  -webkit-align-items: stretch;
  justify-content: center;
  -webkit-justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.card {
  background: #003300;
  border: 4px double #B2C2B2;
  color: #eee;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4%;
  margin-right: 4%;
  padding: 1rem;
  position: relative;
  width: 20rem; }
  .card h3 {
    font-size: 1.5rem;
    margin-bottom: .2rem;
    margin-top: .2rem;
    text-align: center; }
  .card p {
    line-height: 1.6rem; }

.cardTitle {
  font-variant: small-caps; }

#hoverShadowDisplace:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
  left: -3px;
  top: -3px; }

#rolloverColors:hover {
  background-color: darkorange;
  color: black; }

#fontsFirstLine {
  font-family: 'Sigmar One', cursive; }

#fontsSecondLine {
  font-family: 'Orbitron', sans-serif; }

#fontsThirdLine {
  font-family: 'Josefin Slab', serif; }

#fontsFourthLine {
  color: #FFC266;
  font-family: 'Rock Salt', cursive; }

#fontsFifthLine {
  font-family: 'Abril Fatface', cursive; }

#smallCaps {
  font-variant: small-caps; }

#italic {
  font-style: italic; }

#underline {
  text-decoration: underline; }

#linethrough {
  text-decoration: line-through; }

#cursorChange {
  cursor: crosshair; }

#backgroundImage {
  background-image: url(../img/pluto.jpg);
  color: white;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px; }

video {
  margin: 0 auto;
  display: block;
  max-width: 90%; }
